<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="RestaurantConstr" connectionString="server=mysql2.eryaz.net;port=13987;database=restaurant;uid=adminuser;password=WellDown#1" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>