<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Restaurant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="RestaurantConstr" connectionString="server=127.0.0.1;port=3407;database=restaurant;uid=root;password=3407" providerName="MySql.Data.MySqlClient" />-->
    <add name="RestaurantConstr" connectionString="server=mysql2.eryaz.net;port=13987;database=restaurant;uid=adminuser;password=WellDown#1" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <userSettings>
    <Restaurant.Properties.Settings>
      <setting name="dgvAutoGeneretaFalse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KitchenPrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="GeneralPrinter" serializeAs="String">
        <value />
      </setting>
    </Restaurant.Properties.Settings>
  </userSettings>
</configuration>